# Build
bin/
obj/

# User / IDE
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Environment
.env

# App settings (sensitive)
appsettings.Development.json
appsettings.Local.json

# Rider / JetBrains
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml


# Publish
publish/
out/

# Node 
node_modules/

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfvars

# Kubernetes secrets
k8s/secret.yaml